body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #242424;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #231D23;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #A2B0A7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
